{% extends 'base.html' %}

{%block content%}
<!-- main content will come here -->
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{single_blog.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted On {{single_blog.created_at}} by {{single_blog.author}}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="#!">{{single_blog.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ single_blog.featured_image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{single_blog.short_description}}</p>
                    <p class="fs-5 mb-4">{{single_blog.blog_body}}</p>

                    <!-- Comments -->
                     <h4 class="text-info" style="font-family: Arial !important; font-weight: bold !important;">Comments ({{comment_count}})</h4>
                     {%if comments%}
                     <!-- show comments -->
                      {% for comment in comments %}
                        <div class="card ml-3 mt-3">
                            <div class="card-body ">
                                <p class="card-text mb-0">{{ comment }}</p>
                                <span>
                                    <small>{{ comment.user }}</small>
                                    <small>| {{ comment.created_at|timesince }} ago </small>
                                </span>
                            </div>
                        </div>
                      {% endfor %}
                      {%else%}
                      <h4 class="text-info" style="font-family: Arial !important;">No Comments Yet</h4>
                      {%endif%}
                        <br/>
                        <div class="container mt-2">
                            <div class="card">
                                <div class="card-body">
                                    {% if user.is_authenticated %}
                                    <h5 class="card-title">Leave a Comment</h5>
                                    <form action="" method="POST">
                                        {%csrf_token%}
                                        <div class="form-group">
                                            <label for="comment">Your Comment</label>
                                            <textarea name="comment" class="form-control" rows="3" placeholder="Enter your comment here..."></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                    {%else%}
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-info">Please Login To Leave a Comment</h5>
                                            <a href="{% url 'login' %}" class="btn btn-info">Login</a>
                                        </div>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>

                    </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
 
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {%for cat in categories%}
                                <li><a href="{% url 'posts_by_category' cat.id%}">{{cat.category_name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for i in social %}
                    <li><a href="{{i.social_link}}">{{i.social_title}}</a></li>
                    {%endfor%}
                </ol>
            </div>
        </div>
    </div>
</div>


{%endblock%}