{%extends 'base.html'%}
{%block content%}
{% load crispy_forms_tags %}

<div class="row">
    <!-- LOAD SIDEBAR HERE -->
    {% include 'dashboard/sidebar.html'%}

    <!-- Right Side Content -->
    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2 class="text-info" style="font-family: Arial;">Add New User</h2>
        
        <form action="{%url 'add_user'%}" method="POST">
            {%csrf_token%}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        <br/>
        {%else%}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">

                        <div class="card-body">
                            <h5 class="card-title text-danger">Permission Denied</h5>
                            <p class="card-text">Sorry, you don't have the necessary permissions to view this page.</p>
                            <a href="{% url 'home' %}" class="btn btn-danger">Go Back</a>
                        </div>
                    
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}