{% extends 'base.html'%}

{% block content %}

<div class="row">
    <!-- LOAD SIDE BAR HERE -->
     {% include 'dashboard/sidebar.html'%}

    <!-- Right Side Content -->
    <div class="col-md-9">
        <span>Logged in as <b>{{user}}</b></span>
        {% if user.is_staff %}
        <div class="row">
            <!-- First Card -->
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{category_count}}</h5>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Posts</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{blogs_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        {%else%}
        <div class="card-body">
            <h5 class="card-title text-danger">Permission Denied</h5>
            <p class="card-text">Sorry, you don't have the necessary permissions to view this page.</p>
            <a href="{% url 'home' %}" class="btn btn-danger">Go Back</a>
        </div>
        {%endif%}
    </div>
</div>


{%endblock%}